<h1>Tweets about New Year Resolution</h1>
<div id="container">
<ul>
<% @tweets.each do |tweet| %>
	<li class="<%=cycle('odd', '')%>">
		<%= link_to tweet.from_user, "http://twitter.com/#{tweet.from_user}", :class => "username", :target => "_blank" %>  
		<div class="tweet_text_area">
			<div class="tweet_text">
				<%=raw display_content_with_links(tweet.text) %>
			</div>
			<div class="tweet_created_at">
				<%= time_ago_in_words tweet.twitter_created_at %> ago
			</div>
		</div>
	</li>
<% end %>
</ul>
</div>